/* für Tabellenansicht */

.nrwportalTabelle{
 white-space: nowrap;  
}
.nrwportalTabelle th{
  width: 8%;
   background-color: #5C899F;
   color:#eee;
}
.nrwportalTabelle th:nth-child(2) {
  width: auto;
}
.nrwportalTabelle tr:nth-child(even) {background-color: rgba(0,0,0,0.2);}


/* Kreuztabelle */
.nrwportalKreuzTabelle{
 white-space: nowrap;
 display: block;
}
.nrwportalKreuzTabelle th{
   background-color: #5C899F;
   color:#eee;
   width: 1%;
}
.nrwportalKreuzTabelle th:nth-child(2) {
  width: auto;
}
.nrwportalKreuzTabelle tr:nth-child(even) {background-color: rgba(0,0,0,0.2);}


/* für Rundenergebnis-Ansicht */

.nrwportalRunde{
 white-space: nowrap;
 display: block;
}
.nrwportalRunde th{
  width: 10%;
  background-color: #5C899F;
  color:#eee;
}
.nrwportalRunde th:nth-child(1),
.nrwportalRunde th:nth-child(4) {
  width: 5%;
}
.nrwportalRunde th:nth-child(2),
.nrwportalRunde td:nth-child(2),
.nrwportalRunde th:nth-child(5),
.nrwportalRunde td:nth-child(5)
{display: none;}

.nrwportalRunde th:nth-child(3), 
.nrwportalRunde th:nth-child(6) {
  width: auto;
}
.nrwportalRunde th:nth-child(7),
.nrwportalRunde td:nth-child(7)
 {
  text-align: center;
}
.nrwportalRunde tr:nth-child(odd) {background-color: rgba(0,0,0,0.2);}

@media screen and (max-width: 64em) {
	.nrwportalRunde th:nth-child(3), 
	.nrwportalRunde th:nth-child(6),
	.nrwportalRunde td:nth-child(3), 
	.nrwportalRunde td:nth-child(6) {
	  text-overflow: ellipsis;
	  overflow: hidden; 
	  max-width: 100px;
	  font-size: 1.3rem;
	}
	.nrwportalKreuzTabelle th:nth-child(2), 
	.nrwportalKreuzTabelle td:nth-child(2) {
	  text-overflow: ellipsis;
	  overflow: hidden; 
	  max-width: 80px;
	  font-size: 1.05rem;
	}
	.nrwportalKreuzTabelle{
		font-size: 0.95rem;
	}
}